{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.dev.json"
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ]
}