name: Tests & lint

permissions: read-all

on:
  push:
    branches:
      - main
      - vue-legacy
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: cachix/install-nix-action@d64e0553100205688c0fb2fa16edb0fc8663c590
      - run: nix-shell --run "npm ci"
      - name: Lint
        run: nix-shell --run "npm run lint"
      - name: Test
        run: nix-shell --run "npm test"
      - uses: codecov/codecov-action@81cd2dc8148241f03f5839d295e000b8f761e378
