name: Tests & lint

permissions: read-all

on:
  push:
    branches:
      - main
      - vue-legacy
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854
        with:
          node-version: 14.x
      - run: npm ci
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test
      - name: Mutation testing
        run: npm run test-mutation
      - uses: codecov/codecov-action@81cd2dc8148241f03f5839d295e000b8f761e378