name: CI

on:
  push:
    branches:
      - master
      - vue-next
  pull_request:

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm ci
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm test
      - name: Mutation testing
        run: npm run test-mutation
      - uses: codecov/codecov-action@v1.0.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
