name: Tests & lint

permissions:
    contents: read

on:
    push:
        branches:
            - main
            - vue-legacy
    pull_request:

jobs:
    build:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
            - run: nix-shell --pure --run "pnpm install --frozen-lockfile"
            - name: Typecheck
              run: nix-shell --pure --run "pnpm run typecheck"
            - name: Build
              run: nix-shell --pure --run "pnpm run build"
            - name: Lint
              run: nix-shell --pure --run "pnpm run lint"
            - name: Test
              run: nix-shell --pure --run "pnpm test"
            - name: Mutation testing
              run: nix-shell --pure --run "pnpm run test-mutation"
            - name: Dry run release
              run: nix-shell --pure --run "pnpm publish --dry-run --recursive --provenance --access public --no-git-checks"
            - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
