name: Tests & lint

permissions:
    contents: read

on:
    push:
        branches:
            - main
            - vue-legacy
    pull_request:

jobs:
    build:
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  persist-credentials: false
            - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
            - run: nix-shell --pure --run "pnpm install --frozen-lockfile"
            - name: Typecheck
              run: nix-shell --pure --run "pnpm run typecheck"
            - name: Build
              run: nix-shell --pure --run "pnpm run build"
            - name: Lint
              run: nix-shell --pure --run "pnpm run lint"
            - name: Test
              run: nix-shell --pure --run "pnpm test"
            - name: Mutation testing
              run: nix-shell --pure --run "pnpm run test-mutation"
            - name: Dry run release
              run: nix-shell --pure --run "pnpm publish --dry-run --recursive --provenance --access public --no-git-checks"
            - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
