name: Publish Package to npmjs
on:
    release:
        types: [created]
jobs:
    build:
        runs-on: ubuntu-24.04
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
              with:
                  persist-credentials: false
            - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
            - run: nix-shell --run "pnpm install --frozen-lockfile"
            - run: echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > .npmrc
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_TOKEN }}
            - run: nix-shell --run "pnpm publish --recursive --provenance --access public --no-git-checks"
              env:
                  NPM_CONFIG_PROVENANCE: true
