name: Publish Package to npmjs
on:
    release:
        types: [created]
jobs:
    build:
        runs-on: ubuntu-24.04
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
            - run: nix-shell --run "pnpm install --frozen-lockfile"
            - run: echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > .npmrc
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PUBLISH_TOKEN }}
            - run: nix-shell --run "pnpm publish --recursive --provenance --access public --no-git-checks"
              env:
                  NPM_CONFIG_PROVENANCE: true
